@import './scss/colors';
@import './scss/typography';


.main {
  .grid {
    width: 100vw;
    height: 100vh;
    background: black;
    color: map-get($colors, primary);
    font-family: map-get($fonts, primary);
    padding: 32px;
    box-sizing: border-box;

    p {
      overflow: hidden;
      white-space: nowrap;
      letter-spacing: .15em;
      animation: typing 3.5s steps(30, end);
      margin: 0;

      &.title {
        padding-bottom: 26px;
      }

      &.output {
        font-size: 2em
      }
    }

    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 500px }
    }


    input {
      background: black;
      border: 1px solid map-get($colors, primary);
      color: map-get($colors, primary);
      padding: 6px 10px;
      display: block;
      width: 160px;
      margin: 10px 0 22px;
      outline: none;
    }


    button {
      border: 2px solid map-get($colors, primary);
      background: black;
      color: map-get($colors, primary);
      padding: 10px 22px;
      text-transform: uppercase;
      cursor: pointer;

      &[disabled] {
        opacity: .3;
        cursor: not-allowed;
      }

      &.submit {
        margin-top: 64px;
        background: map-get($colors, primary);
        color: black;
        padding: 10px 32px;
      }
    }

  }
}


footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
  color: map-get($colors, primary);
  font-family: map-get($fonts, primary);

  a {
    color: inherit;
  }

  span {
    color: #F33
  }
}
