<main class="main">
  <div class="grid">

    <ng-container *ngIf="!outputs.length; else outputsTpl">
      <form [formGroup]="form" (ngSubmit)="excecute()">
        <p class="title">
          1. Grilla
        </p>
        <div>
          <label for="grid-x">Límite de casilleros horizontales (max: {{ config.maxGridX }})</label>
          <input type="number"
                 id="grid-x"
                 min="0"
                 max="50"
                 formControlName="gridX">
        </div>
        <div>
          <label for="grid-y">Límite de casilleros verticales (max: {{ config.maxGridY }})</label>
          <input type="number"
                 id="grid-y"
                 min="0"
                 max="50"
                 formControlName="gridY">
        </div>
        <br>
        <br>
        <p class="title">
          2. Robots
        </p>
        <div class="item" formArrayName="robots" *ngFor="let robot of form['controls'].robots['controls']; let i = index">
          <ng-container [formGroupName]="i">
            <p>
              Robot {{ i }}
            </p>
            <input type="text"
                   maxlength="7"
                   formControlName="position"
                   placeholder="Posición inicial">
            <input type="text"
                   maxlength="100"
                   formControlName="instructions"
                   placeholder="Instrucciones">
          </ng-container>
        </div>
        <button type="button" [disabled]="!form.valid" (click)="addRobot()">
          Agregar robot
        </button>
        <br>
        <br>
        <button type="submit" class="submit">
          Ejecutar programa
        </button>
      </form>
    </ng-container>

    <ng-template #outputsTpl>
      <p class="title">
        Secuencias de robots finalizadas:
      </p>
      <p class="output" *ngFor="let output of outputs">
        {{ output }}
      </p>
    </ng-template>

  </div>
</main>


<footer>
  Made with <span>❤</span> by <a href="mailto:nadesarrolloweb@gmail.com">Nicolás Acosta</a>
</footer>
